<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Engedélyezzük a PHP futtatását
AddHandler application/x-httpd-php .php

# Engedélyezzük a CORS-t, ha szükséges
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, PATCH, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
